@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  color: $on-primary;

  @media (prefers-color-scheme: dark)  {
    color: $on-primary-dark;
  }
}

body {
  padding: 20px;
  background: $primary;

  @media (prefers-color-scheme: dark) {
    background: $primary-dark;
  }
}

button {
  background: $secondary;
  color: $on-secondary;
  border: none;
  outline: none;
  border-radius: 5px;

  @media (prefers-color-scheme: dark) {
    background: $secondary-dark;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}