.score-counter {
  text-align: center;
  font-weight: bold;
  user-select: none;

  & > * {
    font-family: monospace;
    font-size: 3em;
  }

  & > .score-counter__light {
    color: rgb(190, 190, 190);
  }

  & > .score-counter__dark {
    color: #333333;
  }
}