@import "../../variables";

.score-counter {
  text-align: center;
  font-weight: bold;
  user-select: none;

  & > * {
    font-family: monospace;
    font-size: 3.5em;
  }

  & > .score-counter__muted {
    color: $on-primary-muted;

    @media (prefers-color-scheme: dark)  {
      color: $on-primary-muted-dark;
    }
  }

  & > .score-counter__dark {
    color: $on-primary;

    @media (prefers-color-scheme: dark)  {
      color: $on-primary-dark;
    }
  }
}