@import "../../variables";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  & > * {
    margin: 0 auto;
  }
}

.app__header {
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
  font-weight: 400;
}