
.game__buttons {
  display: flex;
  flex-direction: row;
}

.game__button {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: rgb(226, 226, 226);

  &.active {
    background: rgb(150, 221, 42);
  }

  &.failure {
    background: !important red;
    color: !important white;
  }
}